body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.container {
    padding-top: 10px;
    display: flex ; 
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.text {
    position: absolute;
    color: white;
    top: 200px;
    bottom: 10px;
    right: 35%;
    left: 180px;
}
.form{
    font-family: "Times New Roman", Times, serif; 
    max-width: 400px;
    display: flex 1;
    text-align: left;  
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
 }
.img-container{
    border-radius: 10px;
    position: relative;
    display: flex 1;
    max-width: 600px;
}
.checkout{
    display: flex;
    gap: 20px;
    align-items: center;
}
button{
    width: 250px;
}
  @media (max-width: 600px) {
    .container {
      direction: column;
    }
  }